body {
  font-family: "Poppins", sans-serif;
  /* apply to body  */
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  /* vh : is vieport height */
  min-height: 95vh;
}
.main {
  flex: 1;
}

 h1 {
  font-size: 5rem;
} 

footer {
  text-align: right;
  color: midnightblue;
}

.Creative{
  color: blue;
}

.tile-image{
  height: 200px;
  float: left;
  margin-right: 20px;
}
.left{
  /* display: inline-block; */
  width: 45%;
  float: left;
}
.right{
  /* display: inline-block; */
  /* here 45 is important if 50 given both are colliding  */
  width: 45%;
  float: right;
}
p.card-text{
  text-align: justify;
}
h2.card-title{
  margin:0px;
}
.logo{
  position: fixed;
}


@media (max-width:800px) {
  
  /* body{
    background-color: black;
  } */
  .card{
    display: block;
    width: 100%;
    text-align: justify;
   /* margin: 20px; */
  }
  .right{
    
    display: block;
    /* clear: left;
    float: left; */
    
  }
  .left{
    display: block;
  }
  img.tile-image {
    width: 100%;
    margin-bottom: 30px;
    object-fit: cover;
    display: inline;
}
h1{
  font-size: 3.5 rem;
  text-align: center;
}
.logo{
position: fixed;
}
}




