
#heading {
    text-align: center;
}

#employeelistdiv
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border: 2px solid black;
    padding: 10px;
    
}
.emp
{
     
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    height: 350px;
    border: 2px solid blue;
    
}
.details { 
   
    display: flex;
    
}

/* default property name on screen  */
.propvalue{
    margin-left: 10px;
 font-size: 12px;
 width: 120px;
}

/* obj property value on screen  */

.uservalue{
    font-size: 17px;


}
#buttons{
  /* text-align: center; */
  /* padding:10px; */
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color:burlywood;
  padding: 10px;
}

#add-btn{
    /* font-size: 20px; */
    /* text-align: center; */
    /* margin: 10px; */
    /* color: black; */
    
}
#filter-div{

}
#filter-selection{

}
#filter-btn{

}
#reset-btn{

}
#delete-btn{
  
}

.editbtnclass{
    
}
#infobtn{
    font-size: 20px;
    color: red;
}
