
/* 21-may-25 : added media queries   */
*{
    padding: 0;
}
body{
    background-color: #DFD0B8;
}

h1 , h2{
    text-align: center;
    color: red;
}

#main{

}

#input-bar{
    display: flex;
    width: 50%;
    margin-left: 25%;
    align-items: center;
    justify-content: space-between;
}


#input-bar input{
    width: 80%;
    border-radius: 2rem;
    height: 4vh;
}

#main{
    text-align: center;
    background-color: #948979;
    color: black;
    margin-top: 30px;
    padding: 1%;
    font-size: 25px;
}
li{
    cursor: pointer;
    list-style: none;
}

#task-list{

}

#task-list li{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 10px;
}

.task-div {
color: #153448;
min-width: 70%;
display: flex;
/* justify-content: space-evenly; */
align-items: center;
}
.task-div .description{
 min-width: 75%;
 font-size: 2rem;
 text-transform: uppercase;
}

.task-div .status {
 min-width: 25%; 
 font-size: 1.5rem;
 text-transform: uppercase;


}

.btn-div{
    display: flex;
    justify-content: center;
    min-width: 30%;
    gap: 2%;
}

button{
    padding: 5px;
    border: none;
    border-radius: 1rem;
    width: 5rem;
    text-transform: capitalize;

}

.deletebtn{
    font-size: 1rem;
    background-color: #DFD0B8;
}
.editbtn{
    font-size: 1rem;
    background-color: #153448;
    color: white;
}
.donebtn{
    font-size: 1rem;
    background-color: #DFD0B8;

}
#add-btn{
    background-color: #3C5B6F;
    color: white;
    font-size: 2rem;


}


/* PSEUDO ELEMENT  */
input {
    background-color: #153448;
    border: none;
    border : 4px solid #DFD0B8  ;
    color: white;
    font-size: 2rem;
    padding: 10px;

}
input::placeholder{
    text-align: center;
    font-size: 1rem;
    color: white;
    padding: 10px;

}

@media (max-width:750px) {
    
    body{
        margin: 0;
    }
    #input-bar{
        width: 100%;
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }
    #input-bar input{
        width : 100%
    }

    #task-list li{
        flex-wrap: wrap;
        justify-content: center;
    }
    .task-div {
        
        width: 100%;
    }
    .task-div .description{
        width: 80%;
        text-align: left;
    }
    .btn-div{
        justify-content: space-evenly;
        width: 100%;
        font-size: 1rem;
    }
    #task-list li {
        border: 2px solid #DFD0B8;
        padding: 5px;
    }



}
@media (max-width:450px) {
    
    .task-div .description{
        width: 70%;
        font-size: 1.5rem;
    }
    .task-div .status{
        width: 70%;
        font-size: 1rem;
        
    }

}